* {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: gray;
}

.wrapper {
  padding: 2rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
nav a {
  transition: 0.5s;
}
nav a:hover {
  color: black;
  transition: 0.5s;
}
.navItems {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.logo {
  cursor: pointer;
}
#navList {
  display: flex;
  gap: 3rem;
}
#featuresHidden {
  padding-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  width: 10rem;
  height: 9rem;
  position: absolute;
  margin-left: -3rem;
  display: none;
  padding-left: 1.5rem;
  margin-top: 2rem;
  border-radius: 5px;
}

#featureImg {
  display: flex;
  flex-direction: column;
}
#featureText {
  display: flex;
  flex-direction: column;
}
.features ul li {
  padding-top: 0.5rem;
}
.last {
  display: flex;
  gap: 3rem;
}

#companyHidden {
  padding-top: 1rem;
  width: 6rem;
  height: 7rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  position: absolute;
  padding-left: 1rem;
  margin-top: 2rem;
  border-radius: 5px;
  display: none;
}
#featuresHidden li a {
  padding-left: 0.4rem;
}

#companyHidden li {
  padding-top: 0.5rem;
}
#upArrow {
  display: none;
}
#upArrow1 {
  display: none;
}
#navButtons {
  display: flex;

  gap: 3rem;
}
#login {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
#login:hover {
  color: black;
  transition: 0.5;
}
#register {
  background-color: transparent;
  cursor: pointer;
  height: 2.5rem;
  width: 5rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  border-color: gray;
  transition: 0.5s;
}
#register:hover {
  color: black;
  border-color: black;
}
#featuresHidden.show {
  display: block;
}
#downArrow.show {
  display: none;
}
#upArrow.show {
  display: inline;
}
#companyHidden.show {
  display: block;
}
#downArrow1.show {
  display: none;
}
#upArrow1.show {
  display: inline;
}
.hamburger {
  display: flex;
  align-items: center;
}
#open {
  display: none;
}
#close {
  display: none;
}
.heroSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 12em;
  align-self: center;
  gap: 9rem;
}

.heroImg img {
  max-width: 100%;
  min-height: 100%;
}
.comp {
  padding-top: 3rem;

  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.mainText {
  display: flex;
  flex-direction: column;
}

.mainText h1 {
  font-size: 5rem;
  color: black;
}
.mainText p {
  padding-top: 2rem;
  font-size: 1.5rem;
}

#lastBtn {
  margin-top: 3rem;
  height: 3rem;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 9rem;
  border-radius: 20rem;
  cursor: pointer;
  transition: 0.5s;
}
#lastBtn:hover {
  transition: 0.5s;
  background-color: white;
  color: black;
}
#mob {
  display: none;
}
@media screen and (max-width: 808px) {
  #showNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);

    transition: 0.5s;
  }

  #open {
    display: flex;
    cursor: pointer;
  }
  #close {
    display: none;
    cursor: pointer;
  }
  #open.show {
    display: none;
  }
  #close.show {
    display: flex;
    position: static;
    z-index: 100;
  }

  #navList {
    display: flex;
    flex-direction: column;
  }
  #companyHidden {
    height: 7rem;
    width: 6rem;
    position: relative;
    margin-left: 1rem;
    margin-top: 0;
  }

  #featuresHidden {
    margin-left: 1rem;
    height: 9rem;
    position: relative;
    width: 9rem;
    margin-top: 0;
  }
  .mainText {
    padding: 0;
  }
  .heroSection {
    padding: 0;
  }
  #showNav.show {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    display: flex;
    height: 100%;
    width: 50%;
    overflow: hidden;
    align-items: flex-start;
    padding-left: 1rem;
    position: absolute;
  }
  #navList.show {
    padding-top: 5rem;
    margin: 0;

    position: relative;
    margin-top: 0;
  }
  .comp {
    gap: 1rem;

    justify-content: center;
  }

  .last {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #navButtons.show {
    display: grid;
    align-self: center;
   
    
    width: 100%;
  }
  #wrapper.show {
    background: rgba(43, 43, 43, 0.9);
    height: 100%;
    width: 100%;
  }
  #register {
    width: 12rem;
  }
  .gridText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #desk {
    display: none;
  }
  #mob {
    display: flex;
  }
  .heroSection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-self: center;
  }
}
